<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Toastr</title>

      <!-- Bootstrap core CSS -->
      <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
      <link th:href="@{/css/bootstrap-reset.css}" rel="stylesheet">
      <!--external css-->
      <link th:href="@{/assets/font-awesome/css/font-awesome.css}" rel="stylesheet" />
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
      <link th:href="@{/css/tasks.css}" rel="stylesheet">

      <!--right slidebar-->
      <link th:href="@{/css/slidebars.css}" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link th:href="@{/css/style.css}" rel="stylesheet">
      <link th:href="@{/css/style-responsive.css}" rel="stylesheet" />

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
      <!--[if lt IE 9]-->
      <script th:src="@{/js/html5shiv.js}"></script>
      <script th:src="@{/js/respond.min.js}"></script>
      <!--[endif]-->
  </head>

  <body>

  <section id="container" class="">
      <!--header start-->
      <header class="header white-bg">
          <div class="sidebar-toggle-box">
              <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars tooltips"></div>
          </div>
          <!--logo start-->
          <a href="index.html" class="logo" >Flat<span>lab</span></a>
          <!--logo end-->
          <div class="top-nav ">
              <ul class="nav pull-right top-menu">
                  <li>
                      <input type="text" class="form-control search" placeholder="Search">
                  </li>
                  <!-- user login dropdown start-->
                  <li class="dropdown">
                      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                          <img alt="" th:src="@{/img/avatar1_small.jpg}">
                          <span class="username">Jhon Doue</span>
                          <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu extended logout">
                          <div class="log-arrow-up"></div>
                          <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                          <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                          <li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>
                          <li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
                      </ul>
                  </li>

                  <!-- user login dropdown end -->
                  <li class="sb-toggle-right">
                      <i class="fa  fa-align-right"></i>
                  </li>
              </ul>
          </div>
      </header>
      <!--header end-->
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
              <!-- page start-->
              <div class="panel">
                  <header class="panel-heading">
                      删除课程
                  </header>
                  <div class="panel-body">
                      <div class="row toastr-row">
                          <div class="col-md-3">
                              <div class="form-group">
                                  <div class="controls toastr-pad" th:each="cour:${course}">
                                      <input type="hidden" id="courseId" th:value="${cour.courseId}">
                                      <label class="control-label">课程名称</label>
                                      <input readonly th:value="${cour.courseName}"  id="name" type="text"  class="form-control input-small">
                                      <label class="control-label">课程时间(注意格式:yyyy-MM-dd)</label>
                                      <input readonly th:value="${cour.lessonTime}" id="ltime" type="text"  class="form-control input-small">
                                      <label class="control-label">允许数量</label>
                                      <input readonly th:value="${cour.optionalNumber}" id="number" type="text"  class="form-control input-small">
                                      <label  class="control-label">教室</label>
                                      <input readonly th:value="${cour.classroom}" id="classroom" type="text"  class="form-control input-small">
                                      <label class="control-label" >专业</label>
                                      <input readonly th:value="${cour.optionalMajor}" id="major" type="text"  class="form-control input-small">
                                      <label class="control-label" >授课方式</label>
                                      <input readonly th:value="${cour.modeDelivery}" id="model" type="text"  class="form-control input-small">
                                      <div class="col-md-9">
                                          <label class="control-label" >课程描述</label>
                                          <textarea readonly th:text="${cour.courseDescribe}" id="describe" rows="10"></textarea>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <button type="button" class="btn btn-danger" id="submit">删除</button>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->

      <!-- Right Slidebar start -->
      <div class="sb-slidebar sb-right sb-style-overlay">
          <h5 class="side-title">Online Customers</h5>
          <ul class="quick-chat-list">
              <li class="online">
                  <div class="media">
                      <a href="#" class="pull-left media-thumb">
                          <img alt="" src="img/chat-avatar2.jpg" class="media-object">
                      </a>
                      <div class="media-body">
                          <strong>John Doe</strong>
                          <small>Dream Land, AU</small>
                      </div>
                  </div><!-- media -->
              </li>
              <li class="online">
                  <div class="media">
                      <a href="#" class="pull-left media-thumb">
                          <img alt="" src="img/chat-avatar.jpg" class="media-object">
                      </a>
                      <div class="media-body">
                          <div class="media-status">
                              <span class=" badge bg-important">3</span>
                          </div>
                          <strong>Jonathan Smith</strong>
                          <small>United States</small>
                      </div>
                  </div><!-- media -->
              </li>

              <li class="online">
                  <div class="media">
                      <a href="#" class="pull-left media-thumb">
                          <img alt="" src="img/pro-ac-1.png" class="media-object">
                      </a>
                      <div class="media-body">
                          <div class="media-status">
                              <span class=" badge bg-success">5</span>
                          </div>
                          <strong>Jane Doe</strong>
                          <small>ABC, USA</small>
                      </div>
                  </div><!-- media -->
              </li>
              <li class="online">
                  <div class="media">
                      <a href="#" class="pull-left media-thumb">
                          <img alt="" src="img/avatar1.jpg" class="media-object">
                      </a>
                      <div class="media-body">
                          <strong>Anjelina Joli</strong>
                          <small>Fockland, UK</small>
                      </div>
                  </div><!-- media -->
              </li>
              <li class="online">
                  <div class="media">
                      <a href="#" class="pull-left media-thumb">
                          <img alt="" src="img/mail-avatar.jpg" class="media-object">
                      </a>
                      <div class="media-body">
                          <div class="media-status">
                              <span class=" badge bg-warning">7</span>
                          </div>
                          <strong>Mr Tasi</strong>
                          <small>Dream Land, USA</small>
                      </div>
                  </div><!-- media -->
              </li>
          </ul>
          <h5 class="side-title"> pending Task</h5>
          <ul class="p-task tasks-bar">
              <li>
                  <a href="#">
                      <div class="task-info">
                          <div class="desc">Dashboard v1.3</div>
                          <div class="percent">40%</div>
                      </div>
                      <div class="progress progress-striped">
                          <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                              <span class="sr-only">40% Complete (success)</span>
                          </div>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <div class="task-info">
                          <div class="desc">Database Update</div>
                          <div class="percent">60%</div>
                      </div>
                      <div class="progress progress-striped">
                          <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-warning">
                              <span class="sr-only">60% Complete (warning)</span>
                          </div>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <div class="task-info">
                          <div class="desc">Iphone Development</div>
                          <div class="percent">87%</div>
                      </div>
                      <div class="progress progress-striped">
                          <div style="width: 87%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                              <span class="sr-only">87% Complete</span>
                          </div>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <div class="task-info">
                          <div class="desc">Mobile App</div>
                          <div class="percent">33%</div>
                      </div>
                      <div class="progress progress-striped">
                          <div style="width: 33%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-danger">
                              <span class="sr-only">33% Complete (danger)</span>
                          </div>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <div class="task-info">
                          <div class="desc">Dashboard v1.3</div>
                          <div class="percent">45%</div>
                      </div>
                      <div class="progress progress-striped active">
                          <div style="width: 45%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45" role="progressbar" class="progress-bar">
                              <span class="sr-only">45% Complete</span>
                          </div>
                      </div>

                  </a>
              </li>
              <li class="external">
                  <a href="#">See All Tasks</a>
              </li>
          </ul>
      </div>
      <!-- Right Slidebar end -->

      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2022 &copy; FlatLab by GUET.
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

  <!-- js placed at the end of the document so the pages load faster -->
  <script th:src="@{/js/jquery.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script class="include" type="text/javascript" th:src="@{/js/jquery.dcjqaccordion.2.7.js}"></script>
  <script th:src="@{/js/jquery.scrollTo.min.js}"></script>
  <script th:src="@{/js/jquery.nicescroll.js}" type="text/javascript"></script>
  <script th:src="@{/js/respond.min.js}" ></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <!--right slidebar-->
  <script th:src="@{/js/slidebars.min.js}"></script>

  <!--common script for all pages-->
  <script th:src="@{/js/common-scripts.js}"></script>
  <script th:src="@{/js/tasks.js}" type="text/javascript"></script>

  <script type="text/javascript">
      $("#submit").click(function () {
          var r=confirm("请确认是否删除");
          if (r==true)
          {
              $.ajax({
                  url:"/course/delete",
                  type: "post",
                  dataType:"json",
                  contentType:"application/json",
                  data:JSON.stringify({
                      "courseId":document.getElementById("courseId").value,
                  })
                  ,success(resp){
                      if(resp.code === 200)
                      {
                          alert("删除成功")
                          location.href="/todoList";
                      }else{
                          alert("删除失败，请重新填写")
                      }
                  }

              })
          }
      })

      $("#clear").click(function (){
          document.getElementById("name").value = "",
          document.getElementById("ltime").value = "",
          document.getElementById("number").value = "",
          document.getElementById("classroom").value = "",
          document.getElementById("major").value = "",
          document.getElementById("model").value = ""
      })
      $(function () {
          var i = -1;
          var toastCount = 0;
          var $toastlast;

          var getMessage = function () {
              var msgs = ['Hi, this is toastr notification',
                  '<div><input class="input-small" value="textbox"/>&nbsp;<a href="http://thevectorlab.net/flatlab/" target="_blank">This is a hyperlink</a></div><div><button type="button" id="okBtn" class="btn btn-primary">Close me</button><button type="button" id="surpriseBtn" class="btn" style="margin: 0 8px 0 8px">Surprise me</button></div>',
                  'Flatlab is awesome',
                  'Build with BS3!',
                  'Easy to use',
                  'Have fun storming the castle!'
              ];
              i++;
              if (i === msgs.length) {
                  i = 0;
              }

              return msgs[i];
          };
          $('#showtoast').click(function () {
              var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
              var msg = $('#message').val();
              var title = $('#title').val() || '';
              var $showDuration = $('#showDuration');
              var $hideDuration = $('#hideDuration');
              var $timeOut = $('#timeOut');
              var $extendedTimeOut = $('#extendedTimeOut');
              var $showEasing = $('#showEasing');
              var $hideEasing = $('#hideEasing');
              var $showMethod = $('#showMethod');
              var $hideMethod = $('#hideMethod');
              var toastIndex = toastCount++;

              toastr.options = {
                  closeButton: $('#closeButton').prop('checked'),
                  debug: $('#debugInfo').prop('checked'),
                  progressBar: $('#progressBar').prop('checked'),
                  positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                  preventDuplicates: $('#preventDuplicates').prop('checked'),
                  onclick: null
              };

              if ($('#addBehaviorOnToastClick').prop('checked')) {
                  toastr.options.onclick = function () {
                      alert('You can perform some custom action after a toast goes away');
                  };
              }

              if ($showDuration.val().length) {
                  toastr.options.showDuration = $showDuration.val();
              }

              if ($hideDuration.val().length) {
                  toastr.options.hideDuration = $hideDuration.val();
              }

              if ($timeOut.val().length) {
                  toastr.options.timeOut = $timeOut.val();
              }

              if ($extendedTimeOut.val().length) {
                  toastr.options.extendedTimeOut = $extendedTimeOut.val();
              }

              if ($showEasing.val().length) {
                  toastr.options.showEasing = $showEasing.val();
              }

              if ($hideEasing.val().length) {
                  toastr.options.hideEasing = $hideEasing.val();
              }

              if ($showMethod.val().length) {
                  toastr.options.showMethod = $showMethod.val();
              }

              if ($hideMethod.val().length) {
                  toastr.options.hideMethod = $hideMethod.val();
              }



              if (!msg) {
                  msg = getMessage();
              }

              $("#toastrOptions").text("Command: toastr["
                      + shortCutFunction
                      + "](\""
                      + msg
                      + (title ? "\", \"" + title : '')
                      + "\")\n\ntoastr.options = "
                      + JSON.stringify(toastr.options, null, 2)
              );

              var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
              $toastlast = $toast;
              if ($toast.find('#okBtn').length) {
                  $toast.delegate('#okBtn', 'click', function () {
                      alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                      $toast.remove();
                  });
              }
              if ($toast.find('#surpriseBtn').length) {
                  $toast.delegate('#surpriseBtn', 'click', function () {
                      alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                  });
              }
          });
          function getLastToast(){
              return $toastlast;
          }
          $('#clearlasttoast').click(function () {
              toastr.clear(getLastToast());
          });
          $('#cleartoasts').click(function () {
              toastr.clear();
          });
      })
  </script>


  </body>
</html>
